{:deps true

 :npm-deps {:install false}

 :builds
 {:app {:target :browser
        :modules {:app {:init-fn goodplace.app/init!}}
        :fs-watch {:hawk false}

        :dev {:output-dir "public/js"
              :closure-defines {goog.DEBUG true}
              :compiler-options
              {;; TODO Do we need this?
               :output-feature-set :es-next}}
        :js-options {:resolve
                     {"babelHelpers"
                      {:target :npm
                       :require "@babel/helpers"}
                      "http2" false}
                     :js-provider :external
                     :external-index "target/index.js"}
        :compiler-options {:source-map true}
        :release {:output-dir "target/release"}
        ;; :release {:output-dir "public-prod/js"}
        :build-hooks [(shadow.cljs.build-report/hook)]
        :devtools {:preloads [hashp.core
                              hashc.core
                              debux.cs.core]}}}}
