**/.cpcache/
**/.nrepl-port
**/.shadow-cljs/
**/node_modules/
**/public/js/cljs-runtime/
**/public/js/manifest.edn
**/public/js/*.js
**/public/js/*.map
**/public/css/*.css
**/public/js/report.html
**/classes/
*.jar
*.js.map
.cache
**/target/*
# Ignore this as we need to sync it frequently
mobile/public
mobile/ios

# Debugging npm libs
frontend/libs
