{:dev [{:name "backend"
        :cmd "cljx -M:dev"
        :dir "backend"}
       {:name "frontend"
        :cmd "npx shadow-cljs watch app"
        :dir "frontend"}
       {:name "webpack"
        :cmd "npx webpack --config webpack.dev.js --watch"
        :dir "frontend"}]}
