{:ig/system
 #merge
 [{:goodplace.main/server
   {:port #profile {:dev 8090
                    :default 8080}
    :dynamic? #profile {:dev true
                        :default false}
    :postgres #ig/ref :goodplace.db/postgres-client}
   :goodplace.db/postgres-client
   {:db-spec #profile {:dev {:dbtype "postgres"
                             :user "postgres"
                             :password "postgres"
                             :port 5432}
                       :default {:dbtype "postgres"
                                 :user "postgres"
                                 :password "postgres"
                                 :port 5432}}}
   :goodplace.migrations/migrations
   {:postgres #ig/ref :goodplace.db/postgres-client}}
  #profile {:dev {:goodplace.dev.db/postgres-server nil}
            :default {}}]}
