{:db #profile {:dev {:username "postgres"
                     :password "postgres"
                     :port-number 5432
                     :server-name "localhost"}
               :local {:username "postgres"
                       :password "postgres"
                       :port-number 5432
                       :server-name "localhost"}
               :prod {:username "postgres"
                      :password #env DB_PASSWORD
                      :port-number 5432
                      :server-name "goodplace-db.internal"}}
 :ig/system
 #merge
 [{:goodplace.main/server
   {:port #profile {:dev 8090
                    :default 8080}
    :dynamic? #profile {:dev true
                        :default false}
    :postgres #ig/ref :goodplace.db/postgres-client}

   :goodplace.db/pool
   {:options #merge
    [{:auto-commit true
      :read-only false
      :connection-timeout 30000
      :validation-timeout 5000
      :idle-timeout 600000
      :max-lifetime 1800000
      :minimum-idle 1
      :maximum-pool-size 4
      :pool-name "db-pool"
      :adapter "postgresql"
      :register-mbeans false}
     #ref [:db]]}

   :goodplace.db/postgres-client
   {:datasource #ig/ref :goodplace.db/pool}

   :goodplace.migrations/migrations
   {:store :database
    :migration-dir "migrations"
    :db {:datasource #ig/ref :goodplace.db/pool}}}

  #profile {:dev {:goodplace.dev.migrations/migrations
                  {:store :database
                   :migration-dir "../dev/resources/dev-migrations"
                   :migration-table-name "schema_migrations_dev"
                   :db {:datasource #ig/ref :goodplace.db/pool}
                   :depends-on #ig/ref :goodplace.migrations/migrations}}
            :default nil}]}
